:root {
  --primary-dark: #032820;
  --primary: #08652C;
  --secondary: #80A416;
  --light-green: #C5C764;
  --gold: #AD9F3C;
  --muted: #5E7343;

  --background: #0B1110;
  --surface: #13211D;
  --text: #F5F5F5;
}